{% extends "layout.html" %}

{% macro field_input(field, placeholder=None) %}
<div class="form-group">
  {{ field.label }}
  {{ field(
    class_="form-control",
    placeholder=field.label.text if placeholder == None else placeholder,
  )}}
  {% for error in field.errors %}
  <small class="form-text text-muted text-danger">{{ error }}</small>
  {% endfor %}
</div>
{% endmacro %}

{% block body %}
<div class="container mt-2">
  <form method="POST">
    {{ form.csrf_token }}
    {{ field_input(form.title, "Otsikko")}}
    {{ field_input(form.upload_date) }}
    {{ field_input(form.source, "www.google.com") }}
    {{ field_input(form.comment, "") }}
    {{ field_input(form.tags, "") }}
    {{ field_input(form.related_courses)}}
    <button type="submit" class="btn btn-primary">Luo</button>
  </form>
</div>
{% endblock %}