{% extends "layout.html" %}

{% from "util.html" import field_input %}

{% block body %}
<div class="container mt-2">
  <h1>Video</h1>
  <form method="POST">
    {{ form.csrf_token }}
    {{ field_input(form.title, "Otsikko")}}
    {{ field_input(form.upload_date) }}
    {{ field_input(form.source, "www.google.com") }}
    {{ field_input(form.comment, "") }}
    {{ field_input(form.tags, "") }}
    {{ field_input(form.related_courses)}}
    <button type="submit" class="btn btn-primary">Luo</button>
  </form>
</div>
{% endblock %}
