{% extends "layout.html" %}

{% from "util.html" import field_input %}

{% block body %}
<div class="container mt-2">
  <h1>Muokkaa äänikirjaa</h1>
  <form method="POST" action="{{url_for('edit_audiobook_tip', tip_id=tip_id)}}">
    {{ form.csrf_token }}
    {{ field_input(form.comment, "") }}
    {{ field_input(form.related_courses)}}
    {{ field_input(form.tags, "") }}
    {{ field_input(form.title, "Otsikko")}}
    {{ field_input(form.author, "Kirjailija")}}
    {{ field_input(form.narrator, "Lukija")}}
    {{ field_input(form.publication_year, "")}}
    {{ field_input(form.isbn, "ISBN")}}
    {{ field_input(form.lengthInSeconds, "")}}
    <button type="submit" class="btn btn-primary">Tallenna</button>
  </form>
</div>
{% endblock %}
