{% extends "layout.html" %}

{% block body %}
  <p>
   Kirjoittaja: Robert Martin<br>
   Otsikko: Clean Code: A Handbook of Agile Software Craftsmanship<br>
   Tyyppi: Kirja<br>
   ISBN: 978-0132350884<br>
   Tagit: Ohjelmointi, design patterns<br>
   Related courses: TKT20006 Ohjelmistotuotanto
  </p>
  <br>
  <p>
   Otsikko: Merge sort algorithm<br>
   Url: https://www.youtube.com/watch?v=TzeBrDU-JaY<br>
   Related courses: TKT20001 Tietorakenteet ja algoritmit<br>
   Tyyppi: video<br>
   Kommentti: Hyvä selitys merge sortin toiminnasta esimerkin avulla
  </p>
  <br>
  <p>  
   Otsikko: Consistency models<br>
   Kirjoittaja: Nicola Apicella<br>
   Url: https://dev.to/napicellatwit/consistency-models-52l<br>
   Tyyppi: Blogpost<br>
   Related courses: TKT21001 Tietokannan suunnittelu, CSM13001 Distributed Systems
  </p>
{% endblock %}
