{% extends "layout.html" %}

{% macro entry(name, value) %}
{% if value %}
<h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
<p class="card-text">{{ value }}</p>
{% endif %}
{% endmacro %}

{% block body %}
<div class="container mt-2">
    <h1>Vinkit</h1>
    {% for tip in tips %}
    <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-body">
    {% if tip.type == "Book" %}
        
            <h5 class="card-title">{{tip.title}}</h5>
            {{ entry("Tyyppi", tip.display_type()) }}
            {{ entry("Kirjoittaja", tip.author) }}
            {{ entry("ISBN", tip.isbn) }}
            {{ entry("Tunnisteet", tip.tags) }}
            {{ entry("Liittyvät kurssit", tip.related_courses) }}
            {{ entry ("Kommentti", tip.comment)}}
            <td>
                <form method="DELETE" action="{{ url_for('tips_remove', tip_id = tip.id) }}">
                  <input type="submit" value="Poista"/>
                </form>
            </td>
              
    {% endif %}
    {% if tip.type == "Video" %}
        
            <h5 class="card-title">{{tip.title}}</h5>
            {{ entry("Tyyppi", tip.display_type()) }}
            <h6 class="card-subtitle mb-2 text-muted">Url</h6>
            <p>
                <a href="{{ tip.source }}" class="card-text">{{ tip.source }}</a>
            </p>
            {{ entry("Tunnisteet", tip.tags) }}
            {{ entry("Liittyvät kurssit", tip.related_courses) }}
            {{ entry ("Kommentti", tip.comment)}}
            <td>
                <form method="DELETE" action="{{ url_for('tips_remove', tip_id = tip.id) }}">
                  <input type="submit" value="Poista"/>
                </form>
            </td>
              
    {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
